* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===Variables===*/
:root {
    --color-negro: #000000ee;
    --color-blanco: #ffffff;
    --color-dorado: #C9A227;
    --color-gris: #F4F4F4;
    --color-rojo: #FF0000;
    --color-vino_tinto: #4a0e17;
}

/* ===== ESTILOS GENERALES ===== */
body{
    font-family: Arial, sans-serif;
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

/* ===== NAVBAR ===== */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 80px;

    background-color: var(--color-negro);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


}

.logo h1{
    color: var(--color-blanco);
    font-size: 2rem; /*<---32PX*/
    letter-spacing: 7px;
}


.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: var(--color-blanco);
    font-size: 1rem; /*<---16PX*/
    transition: color 1s ease;
}

.nav-links a:hover{
    color: var(--color-dorado);
    text-shadow: 0 0 5px var(--color-dorado);
}

.btn-nav{
    text-decoration: none;
    color: var(--color-negro);
    background-color: var(--color-dorado);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-nav:hover{
    background-color: var(--color-blanco);
    transform: translateY(-2px);
    text-shadow: 0 0 5px var(--color-dorado);
}

/* ===== HERO ===== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 140px 80px 80px;
    gap: 50px;

    min-height: 80vh;

    background:
        radial-gradient(
            circle at top right,
            rgba(201, 162, 39, 0.15),
            transparent 35%
        ),
        linear-gradient(
            135deg,
            #0d0d0d 0%,
            #111111 50%,
            #1a1a1a 100%
        );
}

.hero-content{
    flex: 1;
}

.hero-content h2{
    font-size: 3rem; /*<---48PX*/
    margin-bottom: 20px;
    color: var(--color-blanco);
}

.hero-content p{
    font-size: 1.2rem; /*<---20PX*/
    line-height: 1.8;
    margin-bottom: 30px;
    color: var(--color-blanco);
}

.btn-hero{
    display: inline-block;
    text-decoration: none;

    background-color: var(--color-dorado);
    color: var(--color-negro);

    padding: 15px 35px;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 
        transform .3s ease,
        box-shadow .3s ease,
        background-color .3s ease;

    box-shadow: 0 5px 15px #c9a22759;
}

.btn-hero:hover{
    transform: translateY(-4px) scale(1.03);
    background-color: #d8b13b;
    box-shadow: 0 12px 25px #c9a22780;
}
.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 100%;
    max-width: 500px;

    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.05);

    transition: 
        transform .3s ease,
        box-shadow .3s ease;

    box-shadow: 0 15px 40px #5d5c5cc7;
}

.hero-image img:hover{
    transform: scale(1.03);
    box-shadow: 0 20px 50px rgba(201, 162, 39, 0.25);
}

.hero-tag{
    color: var(--color-dorado);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ===================================
            RESPONSIVE
=================================== */

@media (max-width: 768px){

    /* ===== NAVBAR ===== */

    .navbar{
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .logo h1{
        font-size: 1.8rem;
        letter-spacing: 5px;
    }

    .nav-links{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .btn-nav{
        padding: 10px 20px;
    }

    /* ===== HERO ===== */

    .hero{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

        padding: 180px 30px 60px;
        gap: 40px;

        min-height: auto;
    }

    .hero-content{
        padding: 0 10px;
    }

    .hero-content h2{
        font-size: 2rem;
    }

    .hero-content p{
        font-size: 1rem;
        line-height: 1.7;
    }

    .hero-image{
        margin-top: 20px;
    }

    .hero-image img{
        width: 100%;
        max-width: 320px;
    }


}

/* ===PRODUCTOS DESTACADOS=== */
.products{
    padding: 80px;
    background-color: #111111;
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-dorado);
    margin-bottom: 15px;
}

.section-line{
    width: 120px;
    height: 3px;
    background: var(--color-dorado);
    margin: 0 auto 60px;
    border-radius: 50px;
}

.products-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.product-card{
    background-color: #1a1a1a;
    border: 1px solid rgba(255,255,255,.06);
    border-radius: 20px;
    padding: 25px;

    width: 320px;

    text-align: center;

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.product-card:hover{
    transform: translateY(-10px) scale(1.02);

    box-shadow: 0 15px 35px rgba(201,162,39,.18);
    border-color: rgba(201,162,39,.35);
}

.product-card img{
    width: 100%;
    height: 320px;

    object-fit: cover;

    border-radius: 15px;

    margin-bottom: 20px;
}

.product-card h3{
    color: var(--color-blanco);
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.product-type{
    color: var(--color-dorado);
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px;
}

.product-description{
    color: #d0d0d0;
    font-size: .95rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.product-price{
    color: var(--color-dorado);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px 0;
}

.btn-product{
    display: inline-block;
    width: 70%;

    text-decoration: none;

    background-color: var(--color-dorado);
    color: var(--color-negro);

    padding: 16px 35px;
    font-size: 1rem;

    border-radius: 40px;

    font-weight: bold;

    transition:
        transform .3s ease,
        box-shadow .3s ease,
        background-color .3s ease;
}

.btn-product:hover{
    transform: translateY(-3px);

    background-color: #d8b13b;

    box-shadow: 0 8px 18px rgba(201,162,39,.4);
}

/* ===== BENEFICIOS ===== */

.benefits{
    padding: 80px;
    background-color: var(--color-negro);
}

.benefits-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.benefit-card{
    width: 260px;
    background-color: #1a1a1a;
    padding: 35px 25px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid rgba(255,255,255,.05);

    transition:
        transform .3s ease,
        box-shadow .3s ease,
        border-color .3s ease;
}

.benefit-card:hover{
    transform: translateY(-8px);

    border-color: rgba(201,162,39,.4);

    box-shadow: 0 15px 30px rgba(201,162,39,.15);
}

.benefit-card span{
    font-size: 3rem;
}

.benefit-card h3{
    color: var(--color-dorado);
    margin: 20px 0 15px;
}

.benefit-card p{
    line-height: 1.7;
    color: #d5d5d5;
}

/* ===== SOBRE VICI ===== */
.about{
    padding: 90px 80px;
    background-color: #111111;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-text{
    flex: 1;
}

.about-text p{
    font-size: 1.1rem;
    line-height: 1.9;
    color: var(--color-blanco);
    margin-bottom: 25px;
}

.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img{
    width: 100%;
    max-width: 420px;

    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.05);

    box-shadow: 0 15px 35px rgba(0, 0, 0, .35);

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.about-image img:hover{
    transform: scale(1.03);
    box-shadow: 0 20px 45px rgba(201,162,39,.20);
}

/* ===== FOOTER ===== */
.footer{
    background-color: #080808;
    padding: 70px 80px 25px;

    border-top: 1px solid rgba(201,162,39,.15);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;

    max-width: 1200px;
    margin: 0 auto;

    padding-bottom: 50px;
}

footer-brand{
    max-width: 300px;
}

.footer-brand h2{
    color: var(--color-blanco);
    font-size: 2rem;
    letter-spacing: 7px;
    margin-bottom: 15px;
}

.footer-brand p{
    color: #bdbdbd;
    line-height: 1.6;
}

.footer-link,
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer h3{
    color: var(--color-dorado);
    margin-bottom: 10px;
}

.footer a{
    color: #cfcfcf;
    text-decoration: none;

    transition: 
        color .3s ease,
        transform .3s ease;
}

.footer a:hover{
    color: var(--color-dorado);
    transform: translateX(4px);
}

.footer-contact p{
    color: #cfcfcf;
}

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,.08);

    padding-top: 25px;

    text-align: center;
}

.footer-bottom p{
    color: #888;
    font-size: .85rem;
}